{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to passion online shop </p>
                </div>
            </div>
        </header>



        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p> In a world driven by trends,speed and constant competition, shopping with passion stands out as a meaningful and intentional approach to buying and selling. it goes beyond simply exchanging money for goods-- it reflects purpose,creativity,and a deep connection to what we choose to support<p><br><br>
                        <p> Ultimately, shopping with passion is about connection--- connection to purpose,to people and to value. it transform ordinary transactions into meaningful experience and reminds us that behind every products, there is a story worth supporting </p>   
                    <div>
                </center>
            </div>
            
        </div>
        

{% endblock %}